body {
    margin: 0 auto;
    padding: 0;
    background-color: pink;
    width: 90%;
    /* background-image: url('https://img.freepik.com/photos-gratuite/jetee-au-bord-lac-hallstatt-autriche_181624-44201.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    font-family: 'Open sans';
}

p {
	font-size: 16px;
	font-family: 'Open sans', serif;
	color: rgb(82, 34, 46);
    letter-spacing: 2px;
}

a {
    font-size: 18px;
    color: blue;
}
a:hover {
    color: red; 
}

a:visited {
    color: green;
}

q {
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 160%;
    background-color: lightgray;
    border-left: 3px solid Firebrick;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-style: italic;
}

.farmer {
    border-left: 3px solid palevioletred;
}

.neighbors {
    border-left: 3px solid purple;
}

blockquote {
    width: 50%;
    margin: 0 auto;
    font-size: 160%;
    background-color: lightgray;
    border-left: 3px solid Firebrick;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-style: italic;
}

header h1 {
    background-color: yellow;
}

.good {
    text-transform: capitalize;
    color: green;
}
.bad {
    text-transform: capitalize;
    color: red;
}

.odd {
    background-color: white;
}
.even {
    background-color: grey;
}

ul li {
    font-size: 20px;
    padding: 20px 0;
}

.positive {
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.negative {
    background-image: url(mal.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.cat {
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bold {
    font-weight: bold;
}

figure img {
    width: 200px;
    height: auto;
    float: right;
}

img {
    width: 300px;
    margin: 0;
    float: right;
}

.notification{
    background:#FFFFDD;
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:250px;
    font-weight:bold;
    color: #333300;
    position: fixed;
    bottom: 0;
    right: 0;
  }

